@charset "UTF-8";

/* 共通部分
----------------------------- */
html{
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Midium","游ゴシック Midium","YuGothic","游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    line-height: 1.7;
    background-color: #FEEEE3
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
/* HEADER
----------------------------- */
.logo{
    width: 150px;
}
.page-header{
    background-color: #FFB8B8;
    margin: 0;
}
.page-header h1{
    text-align: center;
}
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
    justify-content: space-evenly;
    font-family: 'Noto Sans Japanese', sans-serif;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #FEEEE3;
    transition: color 0.3s ease-in-out;
}
.main-nav a:hover{
    color: #FFB8B8;
    background-color: #FEEEE3;
}
.wrapper{
    margin: 0 auto;
    padding: 0 4%;
}
/* HOME
----------------------------- */
.home-content{
    text-align: center;
    margin-top: 0;
}
/* HOME SERVICE
----------------------------- */
#service{
    width: 100%;
    margin: 100px auto 130px auto;
    padding: 0;
    max-width: 920px;
    color: #666;
}
#service section{
    float: left;
    width: 280px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 60px;
}
#service section.icon{
    margin-bottom: 20px;
    text-align: center;
}
#service section.icon img{
    width: 49px;
    height: 51px;
    display: block;
    margin: 0 auto;
}
#main h2.ttl{
    font-size: 50px;
    text-align: center;
    line-height: 1.0;
    font-family: 'Noto Sans Japanese', sans-serif;
    font-weight: 100;
    letter-spacing: 0.05em;
}
#service section h3.ttl,
#service section .text01 {
    grid-column: span 3; 
    text-align: center;
}
h2{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-size: 40px;
}
#main h3.ttl{
    font-size: 25px;
    margin-bottom: 16px;
    margin-top: 16px;
    text-align: center;
    line-height: 1.0;
    color: #666;
}
.item{
    margin: 10px;
    padding: 10px;
    object-fit: cover;
}
.container{
    background: #FEEEE3;
    display: flex;
    justify-content: space-around;
}
.item p{
    font-family:'Noto Sans Japanese';
    text-align: center;
}
/* HOME AREA
----------------------------- */
#area{
    width: 100%;
    margin: 10% auto;
    padding: 0;
    max-width: 920px;
    color: #666;
}

/* 見出し */
#home .page-title{
    font-size: 5rem;
    font-family: Oi;
    text-transform: uppercase;
    font-weight: normal;
    color: #FF52B4;
    padding-top: 300px;
}
/* 大きな背景画像 */
.big-bg{
    background-size: cover;
    background-position: center center;
}
#home{
    background-image: url(../images/main-bg.png);
    height: 600px;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .page-title{
    text-transform: none;
    color: #FF52B4;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}
#home .sub-title{
    color: #FEEEE3;
    -webkit-text-stroke: 1px #FF52B4;
    text-align: center;
    font-family:'Noto Sans Japanese';
    font-size: 30px;
    font-weight: bold;
}
/* フッター
----------------------------- */
footer{
    background: #FFB8B8;
    text-align: center;
    padding: 26px 0;
}
footer p{
    color: #fff;
    font-size: 0.875rem;
}
.post-info{
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}
.post-title{
    padding-top: 130px;
    margin-bottom: 0;
    font-family:'Noto Sans Japanese';
    font-size: 40px;
    color: #666;
}
.post-cat{
    font-family: 'Noto Sans Japanese';
}
.about-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 0.85rem;
}
/* プロフィール */
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 60%;
}    
article img{
    margin-bottom: 20px;
}
#name p{
    text-align: center;
    font-size: 12px;
    line-height: 2;
    margin-bottom: 20px;
    letter-spacing: 0.08rem;
    font-family: 'Noto Sans Japanese';
    font-weight: 500;
    color: #666;
}
#profile{
    margin: 30px auto;
    text-align: center;
}
.wrapper2{
    text-align: center;
}
.mT60{
    margin-top: 90px;
}
.mB20{
    margin-bottom: 20px;
}
#profile p.left{
    width: 550px;
    text-align: right;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.12em;
    float: left;
    font-family: 'Noto Sans Japanese';
    color: #666;
}
#profile p.right{
    width: 545px;
    text-align: left;
    font-size: 10.5px;
    line-height: 2.3;
    letter-spacing: 0.08em;
    margin-left: 15px;
    float: right;
    font-family: 'Noto Sans Japanese';
    font-weight: 400;
    color: #666;
}
#profile p.left, #profile p.right {
    max-width: 100%;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.profile-title{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Noto Sans Japanese';
    color: #666;
}
/* SNS */
.sns-info{
    text-align: center;
    color: #666;
    padding: 2% 0 4% 0;
}
#sns{
    padding: 4% 0;
}
.sns-title{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Noto Sans Japanese';
    color: #666;
}
#sns-nav img{
    display: inline-block;
    margin-right: 20px;
    width: 50px;
    height: auto;
}
/* CONTACT
----------------------------- */
#contact{
    background-color: #FEEEE3;
    min-height: 100vh;
}
#contact .page-title{
    font-size: 3rem;
    font-family: 'Noto Sans Japanese';
    text-transform: uppercase;
    font-weight: normal;
    color: #666;
    padding-top: 100px;
}
/* フォーム */
form div{
    text-align: center;
    margin-bottom: 14px;
    color: #666;
}
label{
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 14px;
}
input[type="text"],
input[type="email"]{
    max-width: 480px;
}
textarea{
    max-width: 480px;
    height: 6rem;
}
input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 1;
    background-color: #FF52B4;
    color: #FEEEE3;
    padding: 10px 10%;
    border-radius: 5px;
    font-size: 1rem;
    display: block;
    margin: 0 auto 20px auto;
}
input[type="submit"]:hover{
    background-color: #FFB8B8;
    color: #FF52B4;
}
#contact .page-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Noto Sans Japanese';
    color: #666;
    padding-bottom: 20px;
}
#mail{
    border:none;
    cursor: pointer;
    text-align: center;
    line-height: 1;
    background-color:#FFB8B8;
    padding:10px 5%;
    border-radius:5px;
    font-size: 1rem;
    display:block;
    margin: 0 480px 20px 480px;
}
#mail :hover{
    color: #FF52B4;
}
/* WORK
----------------------------- */
.grid{
    display: grid;
    justify-content: space-between;
    gap: 26px;
    grid-template-columns: 1fr;
    margin-top: 6%;
    margin-bottom: 50px;
    font-family: 'Noto Sans Japanese';
}
.section-container{
    display: flex;
}
article {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.item2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans Japanese';
    color: #666;
    margin-right: 30px;
    text-align: center;
}
.item2.special{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item2 p{
    flex: 2;
    margin: 0;
}
.item2.special p{
    margin-left: 100px;
    text-align: left;
}
.item2 img{
    flex: 1;
    margin-right: 10px;
    width: 100%;
    height: 190px;
    object-fit: cover;
    max-width: none;
    padding: 5px;
    border: 1px solid #666;
}
.item2.special img{
    margin-left: 100px;
    border: none;
    width: 100%;
    height: 300px;
}
.item2.art img{
    display: inline-block;
    width: 100%;
    height: 300px;
}
h2{
    text-align: center;
    color: #666;
}
.detail-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5800;
    color: #FEEEE3;
    text-decoration: none;
    margin-top: 10px;
}
.detail-button:hover{
    background-color: #FF5800;
    opacity: 0.33;
}
/* モバイル版 */
@media(max-width:600px){
    .page-title{
        font-size: 2rem;
    }
    body {
        margin-top: 190px;
    }
    /* HEADER */
    .main-nav{
        font-size: 0.9rem;
        margin-top: 10px;
    }
    .main-nav li{
        margin: 0 1rem;
    }
    .big-box img{
        height: auto;
    }
    #home{
        height: 250px;
    }
    #home .page-title{
        font-size: 2rem;
    }
    #home .sub-title{
        font-size: 1rem;
    }
    header, footer {
        font-size: 2em;
        padding: 20px;
    }
    header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    /* SERVICE */
    #service,#area{
        float: none;
        margin: 50px auto 80px auto;
    }
    #service section {
        grid-template-columns: 1fr;
        padding: 0 4% 10% 4%;
    }
    #service section,#area section{
        width: 100%;
    }
    #service section .text01,
    #service section h3.ttl {
        grid-column: span 1; 
    }
    #service h2{
        margin-top: 130px;
    }
    /* AREA */
    #area {
        margin: 10% auto;
        padding: 0 4% 10% 4%;
    }
    /* ABOUT */
    .sns-info{
        margin-bottom: 30%;
    }
    .wrapper2{
        font-family: 'Noto Sans Japanese';
    }
    #profile p.left, #profile p.right{
        text-align: center;
        padding: 0 4% 10% 4%;
    }
    /* WORK */
    .grid{
        margin-bottom: 30%;
        font-family: 'Noto Sans Japanese';
    }
    .item2,.item2.special{
        flex-direction: column;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .item2 img,.item2.special img{
        margin:0 0;
        display: flex;
        justify-content: center;
    }
    .item2 p,.item2.special p{
        margin-left: 0;
        text-align: center;
        flex: none;
    }
    .webdesign .section-container,.painting .section-container{
        flex-direction: column;
    }
    .webdesign .item2 p,.painting .item2 img{
        margin-left: 0;
    }
    .webdesign .item2 p,.painting .item2 p{
        margin-left: 0;
        text-align: center;
    }
    .webdesign .ttl{
        margin-top: 60px;
    }
    /* CONTACT */
    input[type="text"],
    input[type="email"],
    textarea{
        max-width: 100%;
    }
    #contact{
        font-family: 'Noto Sans Japanese';
    }
    #mail{
        margin: 0 5% 100px 5%;
    }
}
